modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "bun run dev"]
build = ["sh", "-c", "bun install"]

[workflows]
runButton = "Dev Server"

[[workflows.workflow]]
name = "Dev Server"
author = 41675849
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bun install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bun run dev"

[[ports]]
localPort = 8080
externalPort = 80
